body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter; 
    background: #1F2937;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 550px;
    height: 260px;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.05em;
    text-shadow: 2px 2px 5px #1F2937;
    color: #FFFFFF;
} 

#input {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;  
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline 0.05em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms
}

#input:hover {
text-decoration-color: white;
  }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #909;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 290px;
    left: 89px;
    top: 718px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background:  #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: black;
}


h5 {
font-weight: 600;
margin-top: 35px;
}

.unit-str {
font-weight: 400;
color: #1F2937;
margin-top: -10px;
margin-bottom: -10px;
}